<p>Time Period: {{ DataArr[0].date }} (latest)</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Province</th>
      <th [hidden]="!isLocHR()">Health Region</th>
      <th [hidden]="!filter_data.newCases">New Cases</th>
      <th [hidden]="!filter_data.cumulativeCases">Cumulative Cases</th>
      <th [hidden]="!filter_data.newDeaths">New Deaths</th>
      <th [hidden]="!filter_data.cumulativeDeaths">Cumulative Deaths</th>
      <th [hidden]="!filter_data.newRecovered">New Recovered</th>
      <th [hidden]="!filter_data.cumulativeRecovered">Cumulative Recovered</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let row of DataArr | calculateStatsProvincial: filter_data.location
      "
    >
      <td *ngIf="row.province != null; else NotAvailable">
        {{ row.province }}
      </td>
      <td [hidden]="!isLocHR()">
        {{ row.health_region }}
      </td>
      <td
        *ngIf="row.cases != null; else NotAvailable"
        [hidden]="!filter_data.newCases"
      >
        {{ row.cases }}
      </td>
      <td
        *ngIf="row.cumulative_cases != null; else NotAvailable"
        [hidden]="!filter_data.cumulativeCases"
      >
        {{ row.cumulative_cases }}
      </td>
      <td
        *ngIf="row.deaths != null; else NotAvailable"
        [hidden]="!filter_data.newDeaths"
      >
        {{ row.deaths }}
      </td>
      <td
        *ngIf="row.cumulative_deaths != null; else NotAvailable"
        [hidden]="!filter_data.cumulativeDeaths"
      >
        {{ row.cumulative_deaths }}
      </td>
      <td
        *ngIf="
          row.recovered != null && !isNaN(row.recovered);
          else NotAvailableNewRecovered
        "
        [hidden]="!filter_data.newRecovered"
      >
        {{ row.recovered }}
      </td>

      <td
        *ngIf="
          row.cumulative_recovered != null;
          else NotAvailableCumulativeRecovered
        "
        [hidden]="!filter_data.cumulativeRecovered"
      >
        {{ row.cumulative_recovered }}
      </td>
    </tr>

    <ng-template #NotAvailable>N/A</ng-template>
    <ng-template #NotAvailableNewRecovered>
      <td [hidden]="!filter_data.newRecovered">N/A</td></ng-template
    >
    <ng-template #NotAvailableCumulativeRecovered>
      <td [hidden]="!filter_data.cumulativeRecovered">N/A</td></ng-template
    >
  </tbody>
</table>
