<app-filter-form (submitFilter)="onSubmitFilter($event)"> </app-filter-form>
<p>Time Period: {{ DataArr[0].date }}</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th (click)="sortFunction('province', booleanValue)">Province</th>
      <th
        [hidden]="!isLocHR()"
        (click)="sortFunction('health_region', booleanValue)"
      >
        Health Region
      </th>
      <th
        scope="col"
        [hidden]="!filter_data.cases"
        (click)="sortFunction('cases', booleanValue)"
      >
        New Cases
      </th>
      <th
        [hidden]="!filter_data.cumulative_cases"
        scope="col"
        (click)="sortFunction('cumulative_cases', booleanValue)"
      >
        Cumulative Cases
      </th>
      <th
        [hidden]="!filter_data.deaths"
        scope="col"
        (click)="sortFunction('deaths', booleanValue)"
      >
        New Deaths
      </th>
      <th
        [hidden]="!filter_data.cumulative_deaths"
        scope="col"
        (click)="sortFunction('cumulative_deaths', booleanValue)"
      >
        Cumulative Deaths
      </th>
      <th
        [hidden]="!filter_data.recovered"
        scope="col"
        (click)="sortFunction('recovered', booleanValue)"
      >
        New Recovered
      </th>
      <th
        [hidden]="!filter_data.cumulative_recovered"
        scope="col"
        (click)="sortFunction('cumulative_recovered', booleanValue)"
      >
        Cumulative Recovered
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let row of DataArr | calculateStatsProvincial: filter_data.location
      "
    >
      <td *ngIf="row.province != null; else NotAvailable">
        {{ row.province }}
      </td>
      <td [hidden]="!isLocHR()">
        {{ row.health_region }}
      </td>
      <td
        *ngIf="row.cases != null; else NotAvailable"
        [hidden]="!filter_data.cases"
      >
        {{ row.cases }}
      </td>
      <td
        *ngIf="row.cumulative_cases != null; else NotAvailable"
        [hidden]="!filter_data.cumulative_cases"
      >
        {{ row.cumulative_cases }}
      </td>
      <td
        *ngIf="row.deaths != null; else NotAvailable"
        [hidden]="!filter_data.deaths"
      >
        {{ row.deaths }}
      </td>
      <td
        *ngIf="row.cumulative_deaths != null; else NotAvailable"
        [hidden]="!filter_data.cumulative_deaths"
      >
        {{ row.cumulative_deaths }}
      </td>
      <td
        *ngIf="
          row.recovered != null && !isNaN(row.recovered);
          else NotAvailableNewRecovered
        "
        [hidden]="!filter_data.recovered"
      >
        {{ row.recovered }}
      </td>

      <td
        *ngIf="
          row.cumulative_recovered != null;
          else NotAvailableCumulativeRecovered
        "
        [hidden]="!filter_data.cumulative_recovered"
      >
        {{ row.cumulative_recovered }}
      </td>
    </tr>

    <ng-template #NotAvailable>N/A</ng-template>
    <ng-template #NotAvailableNewRecovered>
      <td [hidden]="!filter_data.recovered">N/A</td></ng-template
    >
    <ng-template #NotAvailableCumulativeRecovered>
      <td [hidden]="!filter_data.cumulative_recovered">N/A</td></ng-template
    >
  </tbody>
</table>
